.blog-container {
  padding-top: 180px;
  padding-bottom: 180px;
  display: flex;
  gap: 36px;
  align-items: center;
}

/* .blog-content {
  padding-top: 120px;
  padding-bottom: 120px;
} */

.blog-subtitle {
  margin-bottom: 10px;
}

.blog-list {
  display: flex;
  gap: 33px;
}

.blog-item {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 68px;
  flex-basis: calc(100%);
  width: 445px;
  padding-top: 40px;
  padding-bottom: 70px;
}

.blog-title {
  margin-bottom: 37px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
}

.blog-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
}

.news.blue {
  background-color: var(--reviews-background-color);
}

.news-title {
  margin-bottom: 18px;

  color: var(--primary-text-color);
}
.white .news-title {
  color: var(--background-color);
}

.news-datetime {
  margin-bottom: 28px;
  margin-left: 7px;

  color: var(--reviews-background-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
}

.white .news-datetime {
  color: var(--background-color);
}

.news-text {
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
  letter-spacing: -0.01em;
}

.white .news-text {
  color: var(--news-text-color);
}

.news-link {
  color: var(--reviews-background-color);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}

.white .news-link {
  color: var(--background-color);
}
