.hero-section {
  background-color: var(--hero-background-color);
}

.hero-container {
  padding: 170px 880px 190px 15px;
}

.hero-title {
  margin-bottom: 27px;

  color: var(--background-color);
  font-weight: 500;
  font-size: 72px;
  line-height: 1.18;
}
.hero-text {
  margin-bottom: 27px;

  color: var(--light-title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.69;
}
