.pricing-subscription {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}
.pricing-subscription:active {
  color: var(--subtitle-color);
}
.pricing-plan {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 25px;
}
.pricing-plan.white {
  color: var(--background-color);
}
.plan-components {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.82;
  text-align: center;
}
.plan-components.white {
  color: var(--background-color);
}
.standart-plan {
  background-color: var(--subtitle-color);
}
.pricing-price.white {
  color: var(--background-color);
}
.pricing-price {
  color: var(--subtitle-color);
  font-weight: 500;
  font-size: 35px;
  line-height: 1.5;
}
.accent {
  font-size: 18px;
}
.second-accent {
  font-size: 16px;
}
