.team-container {
  padding-top: 92px;
  padding-bottom: 69px;
}

.team-subtitle {
  margin-bottom: 17px;
}

.team-title {
  margin-bottom: 46px;
}

.team-list {
  display: flex;
  gap: 50px;
}

.team-member {
  margin-bottom: 7px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 22px;
  line-height: 1.14;
}
.member-funktion {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.14;
}
